@page "/aboutMe"
<h3>About Me</h3>
<div>
    <div class="row">
        <div class="col-sm-12">
            <h4>Robert "Tripp" Robinson</h4>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-6">
            <p>
                Howdy, My name is Tripp Robinson. I'm a student at Texas A&M University. Currently my major is in Materials Sciences Engineering.
                I like to work on computer-y projects a lot. I've assembled a few custom mechancial keyboards before, as well as build multiple computers and servers.
                Currently I work at Red Maple Press Inc. as an intern. So far I've been working on debugging APIs and learning how to create and style webpages for our clients to use.
                My other Hobbies include gaming, cooking, VR, and 3D printing. One day I'll probably have a gallery set up to show off my projects. 
            </p>
        </div>
        <div class="col-sm-6">
            <img src="\Images\Tripp.png" alt="Picture of Tripp" />
        </div>
    </div>
</div>
@code {

}
