@page "/"

<h1>Tripp's Website</h1>
<p>
Howdy, Welcome to my fledgling website. I've been instructed to learn a bit about developing Blazor Webapps for my internship so I'm doing this project to practice. 
<br />
Please click on the links on the left in the NavBar to navigate through the pages on the website. The Volume and Rock Paper Scissors links are demos, and the About Me link has some extra information about me.
</p>
